.searchArea {
  position: fixed;
  bottom: 1%;
  left: 1%;
  padding: 5px;
  border-radius: 15px;
  background-color: #f0ffff;
  box-shadow: 3px 2px 5px 1px #6fa7a7;
}
.searchArea > * {
  vertical-align: middle;
}
.searchForm, .magnifier{
  display: inline-block;
}
.magnifier{
  background-image: url(search_icon.png);
  background-size: 1em;
  height: 1em;
  cursor: pointer;
}
.clearSearch{
  font-weight: bold;
  background-color: transparent;
  border: none;
  padding: 0;
}
.magnifier, .clearSearch{
  width: 1em;
  margin: 0.25em;
}
.searchInput {
  animation: materialize 1.25s;
}
.clearSearch, .searchInput{
  color: #6c6c6c;
  font-size: 0.75em;

}
@keyframes materialize {
  from {opacity: 0.001}
  to {opacity: 1}
}