.App {
  text-align: center;
}
ul{
  list-style-type: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 15vw;
  cursor: pointer;
}
img{
  width: 100%;
}
.ticket {
  position: fixed;
  width: 65vw;
  top: 15px;
  left: 15vw;
}